<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221805359306-b5ueu6uj4ev4hs6n28jofa4o2nedqofp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221805359306-b5ueu6uj4ev4hs6n28jofa4o2nedqofp</string>
	<key>API_KEY</key>
	<string>AIzaSyCTXJ_c3d1sAEnKjGpmd2H4DZSe0xWyplQ</string>
	<key>GCM_SENDER_ID</key>
	<string>221805359306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mafqood</string>
	<key>PROJECT_ID</key>
	<string>mafqood-6f53c</string>
	<key>STORAGE_BUCKET</key>
	<string>mafqood-6f53c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221805359306:ios:2c2f25da13fd3f078f4433</string>
</dict>
</plist>